<!-- <header class="b-header">
    <h1 class="b-header__logo">KG</h1>
    <nav class="b-header__nav">
        <a class="b-header__link" *ngFor="let link of header" [routerLink]="[link.navigate]">
            {{link.name}}
        </a>
    </nav>
</header> -->


<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            KakiGO
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
        <a *ngFor="let link of header" [routerLink]="[link.navigate]">{{link.name}}</a>
    </div>
</div>