.b-container {
    margin-top: 0px;
    width: 100%;
    padding-bottom: 2rem; 
    background-image: url(https://lavidaensuiza.files.wordpress.com/2016/08/20160814_224607.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}