<div class="b-container">
    <div class="b-titlebox">
        <h1 class="b-titlebox__title">{{about?.title}}</h1>
    </div>
    <div class="b-box">
        <div class="b-box__cont">
            <p class="b-box__p">{{about?.description}}</p>
        </div>
        <div class="b-box__span">
            <h5 class="b-box__h5">{{about?.outro}}</h5>
        </div>
    </div>
    <div class="b-contact">
        <div class="b-contact__box">
            <h3>Contact</h3>
            <p>Email: contact@kakigo.com</p>
            <p>Tel: +34 758693465</p>
            <p>Location: Cámping Noguera Pallaresa</p>
        </div>
    </div>
</div>