.b-intro {
    margin-bottom: 40px;
    background-image: url(https://www.ecestaticos.com/image/clipping/1200/675/6a841ba13f55e25601dd06f5c772a16b/el-misterio-del-rio-que-fluye-hacia-arriba.jpg);
    background-size: cover;
    padding-top: 20px; 
    padding-bottom: 40px; 
    &__title {
        text-align: center;
        color: white;
    }
    &__text {
        text-align: center;
        font-size: 16px;
        margin: 0 20px;
        color: white;
    }
}