.background{
    padding-bottom: 44.5rem; 
    padding-top: 1.5rem; 
    margin-top: -2.5rem; 
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX4686087.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}